body {
	background: #fffbf5;
	font-family: 'Georgia', serif;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
}

.hero {
	margin-bottom: 2vh;
	margin-top: 0;
	padding-top: 8rem;
	font-size: 2.5rem;
	color: #333;
}

.image-map-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	margin-bottom: 2vh;
}

img,
iframe {
	width: 40vw;
	height: 30vw;
	border-radius: 20px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 55vw;
	padding: 2vh 2vw;
	margin: 2vh auto;
	background: #f1ae5cd1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

p {
	width: 45%;
	margin: 1vh 0;
	padding: 1vh;
	text-align: left;
	font-size: 1rem;
}

.info p {
	font-size: 1.2rem;
}

.booking-container {
	display: flex;
	max-width: 600px;
	margin: auto;
	background: #f3d8b3;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	flex-direction: column;
}

.booking-title {
	text-align: center;
	margin-bottom: 1.5rem;
	margin-top: 0.5rem;
	font-size: 2.5rem;
}

.form-column {
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	flex-direction: row;
}

.form-group {
	flex: 1;
}

.form-label {
	margin-bottom: 5px;
	font-weight: bold;
	float: right;
}

.form-input {
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	background: #f7e9d5;
	width: 180px;
}

.description {
	display: flex;
	justify-content: space-between;
}

.form-input[type='number']::-webkit-outer-spin-button,
.form-input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.booking-button {
	background-color: #eab26e;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
}

.booking-button:hover {
	background-color: #c9995f;
}

.form-group.description {
	width: 100%;
	margin-bottom: 15px;
}

.form-group.description .form-input {
	width: 495px;
	max-width: 100%;
	box-sizing: border-box;
}

@media (max-width: 1140px) {
	div {
		margin-bottom: 0vh;
	}

	.footer .logo {
		margin: 0;
	}

	.footer {
		justify-content: center;
	}
}

@media (max-width: 901px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 800px) {
	.info {
		max-width: 60vw;
		padding: 1vh 1vw;
		margin: 2vh auto;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 11px;
	}

	.image-map-container {
		flex-direction: column;
		align-items: center;
		gap: 3vh;
	}

	img,
	iframe {
		width: 70vw;
		height: 40vw;
	}

	.info {
		max-width: 66vw;
	}
	.info p {
		font-size: 1.1rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.info p {
		width: 100%;
		font-size: 1.2rem;
		margin: 1vh 0;
		padding: 0vh;
	}
}
