body {
	background: #fffbf5;
	font-family: 'Georgia', serif;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
}

.hero {
	margin-bottom: 2vh;
	margin-top: 0;
	padding-top: 8rem;
	font-size: 2.5rem;
	color: #333;
}

.image-map-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	margin-bottom: 2vh;
}

img,
iframe {
	width: 40vw;
	height: 30vw;
	border-radius: 20px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 55vw;
	padding: 2vh 2vw;
	margin: 2vh auto;
	background: #f1ae5cd1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

p {
	width: 45%;
	margin: 1vh 0;
	padding: 1vh;
	text-align: left;
	font-size: 1rem;
}

.info p {
	font-size: 1.2rem;
}

@media (max-width: 1140px) {
	div {
		margin-bottom: 0vh;
	}

	.footer .logo {
		margin: 0;
	}

	.footer {
		justify-content: center;
	}
}

@media (max-width: 901px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 800px) {
	.info {
		max-width: 60vw;
		padding: 1vh 1vw;
		margin: 2vh auto;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 11px;
	}

	.image-map-container {
		flex-direction: column;
		align-items: center;
		gap: 3vh;
	}

	img,
	iframe {
		width: 70vw;
		height: 40vw;
	}

	.info {
		max-width: 66vw;
	}
	.info p {
		font-size: 1.1rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.info p {
		width: 100%;
		font-size: 1.2rem;
		margin: 1vh 0;
		padding: 0vh;
	}
}
