h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Philosopher', sans-serif;
}

.navbar .book-table {
	display: block;
}

.about_area {
	margin: auto;
	max-width: 90vw;
}

.about-text {
	max-width: 40vw;
	padding-top: 0;
}

.about_img {
	max-width: 45vw;
	margin-left: 5vw;
}

.flex-box {
	display: flex;
	justify-content: space-between;
}
.flex-row {
	flex-direction: row;
}

.about_area {
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.about_area h3,
.section_title {
	font-family: 'Philosopher', sans-serif;
	font-size: 40px;
	color: #001d38;
	line-height: 60px;
	margin-bottom: 0;
	margin-top: 0;
}

.about_area p,
.about_area span {
	font-size: 24px;
	line-height: 28px;
	color: #596672;
	margin-bottom: 20px;
}

.about_area .about_img img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 100%;
}

.booking-container {
	display: flex;
	max-width: 600px;
	margin: auto;
	background: #f3d8b3;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	flex-direction: column;
}

.booking-title {
	text-align: center;
	margin-bottom: 20px;
}

.booking-form {
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	flex-direction: row;
}

.form-group {
	flex: 1;
	margin-right: 10px;
}

.form-group:last-child {
	margin-right: 0;
}

.form-label {
	margin-bottom: 5px;
	font-weight: bold;
	float: right;
}

.form-input {
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	background: #f7e9d5;
	width: 180px;
}

.form-input[type='number']::-webkit-outer-spin-button,
.form-input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.booking-button {
	background-color: #eab26e;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
}

.booking-button:hover {
	background-color: #c9995f;
}

.contact-info {
	margin-top: 20px;
	text-align: center;
}

.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.gallery_area {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;
	height: 120vh;
}

.gallery_area .single_gallery {
	float: left;
	overflow: hidden;
	border: 5px solid #fff;
	box-sizing: border-box;
}
.gallery_area .section_title {
	height: 5%;
	margin-bottom: 2%;
}

.gallery_area .single_gallery.small_img {
	width: 30%;
	height: 40%;
}

.gallery_area .single_gallery.big_img {
	width: 40%;
	height: 40%;
}
.gallery_area .single_gallery img {
	height: 100%;
	width: 100%;
}

.text-center {
	text-align: center;
}

@media (max-width: 991px) {
	.gallery_area {
		height: 95vh;
	}
}

@media (max-width: 767px) {
	.gallery_area {
		height: 80vh;
		padding-top: 0;
	}
	.gallery_area .section_title h3 {
		font-size: 35px;
		line-height: 40px;
	}
	.about-text h3 {
		font-size: 30px;
		line-height: 40px;
	}
	.about-text p,
	.about-text span {
		font-size: 16px;
		line-height: 24px;
	}
	.about-text .food_list img {
		width: 30px;
		height: 30px;
	}
	.about_area {
		padding-bottom: 10px;
	}
}

@media (max-width: 617px) {
	.gallery_area {
		height: 90vh;
	}
	.about_area {
		padding-top: 50px;
	}
	.about-text .food_list img {
		width: 30px;
		height: 30px;
	}
	.about-text p,
	.about-text span {
		font-size: 14px;
		line-height: 20px;
	}
	.gallery_area .single_gallery.big_img {
		display: none;
	}
	.gallery_area .single_gallery.small_img {
		width: 50%;
	}

	.booking-form .form-row {
		flex-direction: column;
	}
	.booking-form .form-group label {
		float: left;
		width: 400px;
	}
	.booking-form .form-group input {
		float: right;
	}
	.booking-container {
		max-width: 400px;
	}
}

@media (max-width: 530px) {
	.gallery_area {
		height: 70vh;
	}
	.gallery_area .section_title h3 {
		font-size: 27px;
		line-height: 35px;
	}
	.about-text h3 {
		font-size: 25px;
		line-height: 32px;
	}
	.about-text p,
	.about-text span {
		font-size: 14px;
		line-height: 14px;
	}
}

@media (max-width: 479px) {
	.book-table {
		margin-right: 25px;
	}
	.gallery_area {
		height: 65vh;
	}
	.about-text {
		max-width: 90vw;
	}
	.about_img {
		max-width: 90vw;
		margin-top: 2vh;
		margin-left: 0;
	}
	.about_img img {
		width: 100%;
	}
	.about-text h3 {
		font-size: 20px;
		line-height: 25px;
	}
	.about-text p,
	.about-text span {
		margin-top: 5px;
	}

	.booking-form .form-row {
		flex-direction: column;
	}
	.booking-form .form-group label {
		float: left;
		width: 310px;
	}
	.booking-form .form-group input {
		float: right;
		width: 160px;
	}
	.booking-container {
		max-width: 320px;
	}
	.about_area .flex-row {
		flex-direction: column;
	}
}

@media (max-width: 369px) {
	.gallery_area {
		height: 60vh;
	}
	.booking-title {
		font-size: 1.5em;
	}
	.booking-form .form-group .form-input {
		padding: 5px;
		width: 150px;
	}
	.booking-container {
		width: 80vw;
	}
	.booking-form .form-group .form-label {
		width: 75vw;
	}
}
